<!DOCTYPE html>
<html>
    <head>
        <title>[mcstats ~]$ random</title>
        <link rel="stylesheet" href="/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    </head>
    <body class="header">
        <h2 class="typing-demo about">about</h2>
            <button>
                <a href="/random">Reload</a>
            
            </button>
        </div>
    </body>
</html>