<!DOCTYPE html>
<html>

<head>
    <title>[mcstats ~]$ home</title>
    <link rel="stylesheet" href="/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
</head>

<body>
    <div class="header">
        <h2 class="typing-demo mcstats center">
            mcstats
        </h2>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/random">random server</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </div>
    <br>
    <hr>

    <h2 class="center">stats or something</h2>
    <br>
    {{ stats }}
    <div id="sot"></div>
    <script src="/js"></script>
</body>

</html>