<!DOCTYPE html>
<html>
    <head>
        <title>[mcstats ~]$ home</title>
        <link rel="stylesheet" href="/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <h2 class="typing-demo">
            mcstats
        </h2>
        <a href="/random">random server</a>
        <script src="/js"></script>
    </body>
</html>
