* {
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: rgb(0, 0, 0);
    margin: auto;
    color: rgb(255, 255, 255);
}

a:visited {
    color: azure;
}

h2 {
    color: rgb(66, 215, 25);
}

button {
    background-color: rgba(85, 85, 85, 0);
    margin-left: 5px;
}


.typing-demo {
    width: 7ch;
    animation: typing 0.7s steps(7), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }